loguru>=0.5.3
matplotlib>=3.3.3
autoray>=0.2.5
scipy>=1.6.0
tqdm>=4.56.0

numpy~=1.26.4
torch~=2.3.0
pandas~=2.2.2
self~=2020.12.3
networkx~=3.2.1
tensorboard~=2.16.2
SQLAlchemy~=2.0.30
setuptools~=68.2.0
requests~=2.31.0
base~=0.0.0
future~=1.0.0
tensorflow~=2.16.1
PyMySQL~=1.1.0
keras~=3.3.3
fonttools~=4.51.0
torchfold~=0.1.0
sqlt~=0.0.6
pillow~=10.3.0
environment~=1.0.0
ddpg~=0.2.0
epoch~=0.1.5