loguru>=0.7.0
matplotlib>=3.8.0
autoray>=0.6.0
scipy>=1.11.0
tqdm>=4.66.0
numpy>=1.24.0
torch>=2.2.0
pandas>=2.1.0
networkx>=3.2.0
tensorboard>=2.15.0
SQLAlchemy>=2.0.0
setuptools>=68.0.0
requests>=2.31.0
PyMySQL>=1.1.0
fonttools~=4.51.0
torchfold~=0.1.0
sqlt~=0.0.6
pillow~=10.3.0
environment~=1.0.0
ddpg~=0.2.0
epoch~=0.1.5